@using Microsoft.AspNetCore.Identity
@using XYZEngineeringProject.Domain.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

    <a class="nav-link menu-item" asp-area="" asp-controller="Home" asp-action="Index">
   <!-- TODO: logowanie -->
    @*@if (SignInManager.IsSignedIn(User))
    {*@

    <img onmouseover="ShowUserDetails()" onmouseleave="HideUserDetails()" class="user-image" src="~/img/default-user-picture.png"/>
        <div id="user-details" class="user-details shadow-center bg-white hidden">
            <!--TODO: stanowisko, dane, wyloguj-->
            Imię Nazwisko<br>
            <i>Stanowisko</i>
            <hr class="mt-1 mb-1">
            Log out <br>
            Option 2 <br>
            Option 3
        </div>




       @* //hidden by default:
        <div id="user-details invisible">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        </div>*@
   @* }
    else
    {
         <img id="logo" class="logo" src="~/img/logoXYZ.png" onclick="ShowLoginPartial()"/>
        
            <partial name="_LoginPartial"/>  
        
    }*@
</a>  


