@page
@model XYZEngineeringProject.Web.Views.Shared._MenuPartialModel

@{
    string[,] menuItems = {
                { "calendar", "<i class=\"bi bi-calendar-week-fill\"></i>" },
                { "clients", "<i class=\"bi bi-people-fill clients\"></i>" },
                { "requests", "<i class=\"bi bi-door-open-fill\"></i>" },
                { "announcements", "<i class=\"bi bi-megaphone-fill\"></i>" },
                { "documents", "<i class=\"bi bi-folder-fill\"></i>" },
                { "chat", "<i class=\"bi bi-chat-text-fill\"></i>" },
                { "settings" , "<i class=\"bi bi-gear-fill clients\"></i>"}
            };
}

<div class="menu-part d-inline vertical-align-top">
    <partial name="_LogoPartial" />
</div>

<div class="menu-part d-inline vertical-align-middle">
    @{
        for (int i = 0; i < menuItems.GetLength(0) - 1; i++)
        {
            <a class="nav-link menu-item" asp-area="" asp-controller="" asp-action="">
                <abbr title=@menuItems[i,0]>                   
                        @Html.Raw(menuItems[i,1])
                </abbr>
            </a>
        }
    }    
</div>
<div class="menu-part d-inline vertical-align-bottom">
    @{
    <a class="nav-link menu-item" asp-area="" asp-controller="Home" asp-action="Privacy">
         <abbr title=@menuItems[menuItems.GetLength(0)-1,0]>                   
                @Html.Raw(menuItems[menuItems.GetLength(0)-1,1])
        </abbr>
    </a>
    }
</div>