<div class="mx-5 my-0 px-5 py-5 h-100 shadow-primary">
    <h1 class="float-start">
        <a [routerLink]="['/note']">{{ 'Note.notes' | translate }}</a>
        <i class="bi bi-arrow-right-short mx-1"></i>
    </h1>
    <h1 class="mb-3">{{ noteDetails.title | slice: 0:30}}<span *ngIf="noteDetails.title!.length >= 30">...</span></h1>
    <hr>
    <div class="row mb-3">
        <div class="col">
            <!-- TODO -->
            <!-- <h3 >{{ ('NoteStatus.' + (noteStatuses[noteDetails.noteStatus]) | translate) || '-'}}</h3> -->
            <h3>{{ (noteDetails.date | dateCustom:'fullShort') || '-' }}</h3>
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <h3>{{ 'Note.title' | translate }}:</h3>
            <p>{{ noteDetails.title || '-'}}</p>
        </div>
    </div>  
</div>
