<div>
    <div *ngIf="editMode;else header">
        <h1 class="mb-3 header">Edit List</h1>
    </div>
    <ng-template #header>
        <h1 class="mb-3 header">Add New List</h1>
    </ng-template>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 form">
            <form #form="ngForm" (ngSubmit)="submit()">
                <div class="mb-3">
                    <label for="name" class="label-form">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="taskListDetails.name">
                </div>
                <div class="mb-3">
                    <label for="taskListStatus" class="form-label">List Status</label><br>
                    <select id="taskListStatus" name="taskListStatus" class="form-control" [(ngModel)]="taskListStatus"
                        (ngModelChange)="onChange($event)">
                        <option *ngFor="let taskListStatus of taskListStatuses">
                            {{taskListStatus}}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="project" class="label-form">Project</label>
                    <input type="text" class="form-control" id="prject" name="project" [(ngModel)]="taskListDetails.project">
                </div>               
                <button type="submit" class="btn btn-primary" *ngIf="editMode">Save</button>
                <button type="submit" class="btn btn-primary" *ngIf="!editMode">Add List</button>
            </form>
        </div>
    </div>