 <client-filters></client-filters>
 
 <div class="container-fluid my-5">
    <h1 class="mb-3">Clients</h1>
    <table class="table" *ngIf="clients && clients.length >0">
        <thead>
            <tr>
                <th>id</th>
                <th>Title</th>
                <th>Date</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{client.id}}</td>
                <td>{{client.name}}</td>
                <td>{{client.description }}</td>
                <td><a [routerLink]="['/clients', 'edit', client.id]">edit</a></td>
                <td><a [routerLink]="['/clients', client.id]">view</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!clients || clients.length <= 0">No notes found</p>
</div>
<router-outlet></router-outlet>
