<div class="container-fluid my-5">
    <div class="row mb-5 text-center">
        <h1 class="col-12">{{ 'Login.register' | translate }}</h1>
    </div>

    <div class="col-12 col-lg-8 offset-lg-2 form form-sm">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <h3>{{ 'Login.companyData' | translate }}</h3>
            <div class="row">
                <div class="mb-3 col-12">
                    <label class="form-label" for="companyName">{{ 'User.companyName' | translate }} *</label>
                    <input class="form-control" type="text" id="companyName" formControlName="companyName">
                </div>
            </div>
            <h3>{{ 'Login.firstAccount' | translate }}</h3>
            <p>{{ 'Login.firstAccountInfo' | translate }}</p>
            <p class="d-none text-danger" id="username-taken">{{ 'Login.usernameTaken' | translate }}</p>
            <div class="row">
                <div class="mb-3 col-12 col-lg-6">
                    <label class="form-label" for="userUserName">{{ 'User.userName' | translate }} *</label>
                    <input class="form-control" type="text" id="userUserName" formControlName="userUserName">
                </div>
                <div class="mb-3 col-12 col-lg-6">
                    <label *ngIf="!userDetails.passwordHash" class="form-label" for="userPassword">{{ 'User.setPassword'
                        | translate }} *</label>
                    <label *ngIf="userDetails.passwordHash" class="form-label" for="userPassword">{{
                        'User.changePassword' | translate }}</label>
                    <label class="text-warning ms-2">({{ 'Login.passwordPlaceholder' | translate }})</label>
                    <div class="input-group">
                        <input class="form-control" [type]="isPasswordVisible ? 'text' : 'password'" id="userPassword"
                            formControlName="userPassword">
                        <div class="input-group-append cursor-pointer" (click)="togglePasswordVisibility()">
                            <span class="input-group-text" id="password-visibility">
                                <i class="bi"
                                    [ngClass]="{ 'bi-eye-slash': isPasswordVisible, 'bi-eye': !isPasswordVisible}"></i>
                            </span>
                        </div>
                    </div>
                    <p class="text-warning mt-2 mb-0">({{ 'Login.passwordPlaceholder' | translate }})</p>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-lg-6">
                    <label class="form-label" for="name">{{ 'User.name' | translate }}</label>
                    <input class="form-control" type="text" id="name" formControlName="name">
                </div>
                <div class="mb-3 col-12 col-lg-6">
                    <label class="form-label" for="surname">{{ 'User.surname' | translate }} *</label>
                    <input class="form-control" type="text" id="surname" formControlName="surname">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-lg-6">
                    <label class="form-label" for="phone">{{ 'User.phone' | translate }}</label>
                    <input class="form-control" type="text" id="phone" formControlName="phone">
                </div>
                <div class="mb-3 col-12 col-lg-6">
                    <label class="form-label" for="pesel">{{ 'User.pesel' | translate }}</label>
                    <input class="form-control" type="text" id="pesel" formControlName="pesel">
                </div>
            </div>

            <h3 class="form-label">{{ 'User.address' | translate }}</h3>
            <div class="row">
                <div class="mb-3 col-12">
                    <label class="form-label" for="addressHome">{{ 'User.homeAddress' | translate }}</label>
                    <input class="form-control" type="text" id="addressHome" formControlName="addressHome">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-12">
                    <label class="form-label" for="addressPost">{{ 'User.postAddress' | translate }}</label>
                    <input class="form-control" type="text" id="addressPost" formControlName="addressPost">
                </div>
            </div>
            <div class="row">
                <div class="col text-center text-sm-end mt-3">
                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">
                        {{ 'Button.addUser' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>