<div class="container-fluid my-5">
    <div class="row mb-5">
        <h1 class="col-12 col-lg-9 text-center text-lg-start">{{ 'Department.departments' | translate }}</h1>
        <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-end">
            <button class="btn btn-md btn-primary pe-4 py-2" [routerLink]="['/settings/departments', 'add']">
                <i class="bi bi-plus-lg me-1"></i>{{ 'Button.addDepartment' | translate }}
            </button>
        </div>
    </div>
    <span class="table-responsive">
        <table class="table" *ngIf="departmentsMan && departmentsMan.length >0">
            <thead>
                <tr>
                    <th>{{ 'Department.name' | translate }}</th>
                    <th>{{ 'Department.managerName' | translate }}</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let departmentMan of departmentsMan; let i = index">
                    <td class="min-width-200">{{departmentMan.department.name}}</td>
                    <td class="min-width-200">
                        <span *ngIf="departmentMan.manager">{{ departmentMan.manager.name }} </span>
                        {{ departmentMan.manager.surname}}
                        <span *ngIf="(departmentMan.manager | keyvalue)?.length == 0">-</span>
                    </td>
                    <td class="text-end text-nowrap">
                        <button title="{{ 'Button.editDepartment' | translate }}" class="btn btn-sm btn-secondary me-2"
                            [routerLink]="['/settings/departments', 'edit', departmentMan.department.id]">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button title="{{ 'Button.showDepartment' | translate }}" class="btn btn-sm btn-secondary me-2"
                            [routerLink]="['/settings/departments', departmentMan.department.id]">
                            <i class="bi bi-eye-fill"></i>
                        </button>
                        <button *ngIf="canDelete(departmentMan.department)" title="{{ 'Button.deleteDepartment' | translate}}"
                            class="btn btn-sm btn-danger-light me-2" (click)="deleteDepartment(departmentMan.department)"><i
                                class="bi bi-trash3"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </span>
    <p *ngIf="!departmentsMan || departmentsMan.length <= 0">{{ 'Departments.noDepartmentsFound' | translate }}</p>
</div>
<router-outlet></router-outlet>