<div>
    <div *ngIf="editMode;else header">
        <h1 class="mb-3 header">Edit Client</h1>
    </div>
    <ng-template #header>
        <h1 class="mb-3 header">Add New Cleint</h1>
    </ng-template>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 form">
            <form #form="ngForm" (ngSubmit)="submit()">
                <div class="mb-3">
                    <label for="name" class="label-form">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="clientDetails.name">
                </div>
                <div class="mb-3">
                    <label for="description" class="label-form">Description</label>
                    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="clientDetails.description">
                </div>
                <div class="mb-3">
                    <label for="comments" class="label-form">Comments</label>
                    <input type="text" class="form-control" id="comments" name="comments" [(ngModel)]="clientDetails.comments">
                </div>
                <div class="mb-3">
                    <label for="nip" class="label-form">NIP</label>
                    <input type="text" class="form-control" id="nip" name="nip" [(ngModel)]="clientDetails.nip">
                </div>
                <div class="mb-3">
                    <label for="address" class="label-form">Address</label>
                    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="clientDetails.address">
                </div>
                <div class="mb-3">
                    <div *ngFor="let contact of clientDetails.contacts" class="row">
                        <div>
                            <label for="firstname" class="label-form">First name</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="contact.firstname">
                        </div>
                        <div>
                            <label for="surname" class="label-form">Surname</label>
                            <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="contact.surname">
                        </div>
                        <div>
                            <label for="phone" class="label-form">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="contact.phone">
                        </div>
                        <div>
                            <label for="email" class="label-form">Email</label>
                            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="contact.email">
                        </div>
                    </div>
                    <div *ngIf="false ; else addNewClient "></div>
                    <!-- <button type="button" class="btn btn-primary" (click)="addNewContact()" *ngIf="!showAddNewContact">Add new contact</button> -->
                </div>
                <button type="submit" class="btn btn-primary" *ngIf="editMode">Save</button>
                <button type="submit" class="btn btn-primary" *ngIf="!editMode">Add Client</button>
            </form>
        </div>
    </div>
</div>

<ng-template #addNewClient>
    <div>
        <label for="firstname" class="label-form">First name</label>
        <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="contactTemp.firstname">
    </div>
    <div>
        <label for="surname" class="label-form">Surname</label>
        <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="contactTemp.surname">
    </div>
    <div>
        <label for="phone" class="label-form">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="contactTemp.phone">
    </div>
    <div>
        <label for="email" class="label-form">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="contactTemp.email">
    </div>
    <button type="button" class="btn btn-primary" (click)="addNewContact()">Add contact</button>
</ng-template>