<div class="container-fluid overflow-auto my-5" *ngIf="isAuthorized; else notAuthorized">
    <div class="row mb-3">
            <h1 class="col-12 col-md-9 text-center text-md-start">
                {{ 'Forum.messages' | translate }}
            </h1>
    </div>
   
    <p class="text-center text-secondary">
        {{ 'Forum.autoRefresh' | translate: { interval: intervalMinutes } }}
        <span class="text-decoration-underline cursor-pointer" (click)="reload()">                
            {{ 'Forum.refreshNow' | translate }}
        </span>
    </p>
    <div class="row border-panels mx-1">
        <div class="col-12 col-md-2 p-0 border-panel-left bg-light">
            <div class="border-bottom p-2">
                <h4 class="d-inline d-md-block text-break">{{ 'Forum.forums' | translate }}</h4>
            </div>
            <div class="border-bottom p-2 pb-md-0 cursor-pointer" *ngFor="let forum of forums" (click)="showForum(forum.id)" [ngClass]="{'fw-bold bg-background': isForumActive(forum)}">
                <p class="d-inline d-md-block text-break">
                    {{ forum.name | slice: 0:50}}
                    <span *ngIf="forum.name.length > 50">...</span>
                </p>
            </div>
            <div *ngIf="forums.length == 0" class="text-center p-2">
                <p style="line-height: 1.3rem">{{ 'Forum.noForums' | translate }}</p>
            </div>
        </div>
        <div class="col-12 col-md-10 border-panel-right p-3 pb-1 overflow-auto" id="messages">
            <div class="text-center">
                <p class="text-secondary text-decoration-underline cursor-pointer" (click)="loadOlderMessages()">{{ 'Forum.loadMore' | translate }}</p>
                <p class="text-secondary text-decoration-underline cursor-pointer d-none" id="see-new-messages" (click)="loadNewestMessages()">
                {{ 'Forum.loadNewest' | translate }}
            </p>
            </div>
            <div *ngFor="let message of forumMessages.reverse(); let i=index">
                <div class="row" id="message-{{i}}">
                    <div class="col">
                        <div class="d-inline-block" [ngClass]="{'float-start': !isAuthor(message), 'float-end': isAuthor(message)}">
                            <span class="text-secondary ps-3">{{ message.author }} {{ message.date | dateCustom: 'shortTime'}}</span>
                            <p class="border br-15 py-2 px-3" [ngClass]="{'bg-light': !isAuthor(message), 'bg-primary text-light': isAuthor(message)}">
                                {{ message.text }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="forumMessages.length == 0" class="text-center">
                <p>{{ 'Forum.noMessages' | translate }}</p>
            </div>           
        </div>
    </div>
    <div class="row message-form mx-1 mt-5 mt-md-0" *ngIf="forums.length > 0">
        <div class="col col-md-10 offset-md-2">
            <form [formGroup]="messageForm" (ngSubmit)="sendMessageToForum()">
                <div class="row pe-0 pe-md-0 mb-3">
                    <div class="col-12 col-sm-10">
                        <textarea type="text" name="message" id="message" formControlName="message" class="form-control" placeholder="{{ 'Forum.typeYourMessage' | translate }}"></textarea>
                    </div>
                    <div class="col-12 col-sm-2 text-center text-sm-end mt-2 mt-sm-0 px-sm-2 px-md-3 px-lg-4 my-auto">
                        <button title="{{ 'Button.sendMessage' | translate }}" class="btn btn-md btn-success w-100" type="submit" [disabled]="!messageForm.valid"><i class="bi bi-send"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #notAuthorized>
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</ng-template>