<!-- <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <label for="title">Title</label>
    <input type="text" id="title" formControlName="title">
    <label for="date">Date</label>
    <input type="date" id="date" formControlName="date">
    <label for="noteStatus">Status</label>
    <select id="noteStatus" formControlName="noteStatus" [selectedIndex]="this.noteDetails.noteStatus">
        <option *ngFor="let status of noteStatuses">
            {{status}}
        </option>
    </select>
    <button type="submit" [disabled]="!noteForm.valid">submit</button>
</form> -->


<div class="container-fluid my-5">
    <div *ngIf="editMode; else header" class="row mb-5 text-center">
        <h1 class="col-12">{{ 'Note.editNote' | translate }}</h1>
    </div>
    <ng-template #header>
        <div class="row mb-3 text-center">
            <h1 class="col-12">{{ 'Note.addNote' | translate }}</h1>
        </div>
    </ng-template>

    <div class="form">
        <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">          
            <div class="row mb-3">
                <div class="col">
                    <label for="noteStatus" class="form-label">{{ 'Note.status' | translate }}</label><br>
                    <select id="noteStatus" formControlName="noteStatus" class="form-select" [selectedIndex]="this.noteDetails.noteStatus">
                        <option *ngFor="let status of noteStatuses" [selected]="status == 'Own'">
                            {{ ('NoteStatus.' + status) | translate }}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label for="date" class="form-label">{{ 'Note.date' | translate }}</label>
                    <input type="date" class="form-control" id="date" formControlName="date">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="title" class="label-form">{{ 'Note.title' | translate }}</label>
                    <textarea class="form-control" id="title" formControlName="title" [(ngModel)]="noteDetails.title"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!noteForm.valid" *ngIf="editMode">{{ 'Button.save' | translate}}</button>
            <button type="submit" class="btn btn-primary" [disabled]="!noteForm.valid" *ngIf="!editMode">{{ 'Button.addNote' | translate}}</button>
        </form>
    </div>
</div>
