<div class="container-fluid my-5">
    <div *ngIf="editMode; else header" class="row mb-5 text-center">
        <h1 class="col-12">{{ 'Note.editNote' | translate }}</h1>
    </div>
    <ng-template #header>
        <div class="row mb-3 text-center">
            <h1 class="col-12">{{ 'Note.addNote' | translate }}</h1>
        </div>
    </ng-template>

    <div class="col-12 col-lg-8 offset-lg-2 form form-sm">
        <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                    <label for="noteStatus" class="form-label">{{ 'Note.status' | translate }}</label><br>
                    <select id="noteStatus" formControlName="noteStatus" class="form-select">
                        <option *ngFor="let status of noteStatuses" [value]="status">
                            {{ 'NoteStatus.' + status | translate }}
                        </option>
                      
                        <option *ngFor="let department of departments" [value]="department.id">
                           {{ department.name }}
                        </option>
                    </select>
                </div>
                <div class="col-12 col-lg-6">
                    <label for="date" class="form-label">{{ 'Note.date' | translate }}</label>
                    <input type="date" class="form-control" id="date" formControlName="date">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="title" class="label-form">{{ 'Note.title' | translate }} *</label>
                    <textarea class="form-control" id="title" formControlName="title"
                        [(ngModel)]="noteDetails.title"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center col-lg-3 offset-lg-9 text-sm-end">
                    <button type="submit" class="btn btn-primary" [disabled]="!noteForm.valid" *ngIf="editMode">{{ 'Button.save' | translate}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!noteForm.valid" *ngIf="!editMode">{{ 'Button.addNote' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>