<div class="container-fluid overflow-auto my-5" *ngIf="isAuthorized; else notAuthorized">

    <div class="row">
        <div class="col-12 col-md-6">
            <h1 class="text-center text-md-start text-capitalize">
                {{ 'Dashboard.welcome' | translate }}, {{ currentUser.name }} {{ currentUser.surname }}
            </h1>
        </div>
        <div class="col-12 col-md-6">
            <h4 class="text-center text-md-end mt-2">
                <i class="bi bi-calendar4-week me-1"></i> {{ today | dateCustom: 'fullLong' }}
            </h4>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-lg-6">
            <div class="shadow-primary br-5 p-3 my-2 m-lg-0 h-100">
                <h3>{{ "Dashboard.latestPublicNotes" | translate }} ({{ publicNotes.length }})</h3>
                <div *ngFor="let note of publicNotes | slice: 0:10">
                    <span [routerLink]="['/note', note.id]" class="cursor-pointer">
                        <i class="bi bi-megaphone"></i>
                        {{ note.title | slice: 0:50 }}
                        <span *ngIf="note.title.length > 50">...</span>
                        ({{ note.date | dateCustom: 'dayMonth' }})
                    </span>
                </div>
                <div *ngIf="publicNotes.length == 0" class="text-secondary">{{ 'Note.noNotesFound' | translate }}</div>
                <h3 class="mt-3">{{ "Dashboard.latestPrivateNotes" | translate }} ({{ privateNotes.length }})</h3>
                <div *ngFor="let note of privateNotes | slice: 0:10">
                    <span [routerLink]="['/note', note.id]" class="cursor-pointer">
                        <i class="bi bi-sticky"></i>
                        {{ note.title | slice: 0:50 }}
                        <span *ngIf="note.title.length > 50">...</span>
                        ({{ note.date | dateCustom: 'dayMonth' }})
                    </span>
                </div>
                <div *ngIf="privateNotes.length == 0" class="text-secondary">{{ 'Note.noNotesFound' | translate }}</div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-sm btn-secondary" [routerLink]="['/note']">{{ 'Dashboard.seeAll' | translate }}</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-5 mt-lg-0">
            <div class="shadow-primary br-5 p-3 my-2 m-lg-0 h-100">
                <h3 class="cursor-pointer">{{ "Dashboard.messages" | translate }}</h3>
                <div *ngFor="let forum of forums">
                    <div *ngIf="forum.messages.length > 0" class="border br-5 p-2 mb-3">
                        <h4 class="border-bottom p-1">{{ forum.name | slice: 0:50 }}<span *ngIf="forum.name.length > 50">...</span></h4>
                        <div *ngFor="let message of forum.messages.reverse() | slice: 0:5">
                            <span class="text-secondary">({{message.author}} {{ message.date | dateCustom: 'shortTime'}})</span> {{ message.text | slice: 0:200}}<span *ngIf="message.text.length > 50">...</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="forums.length == 0" class="text-secondary">{{ 'Forum.noForums' | translate }} </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-sm btn-secondary" [routerLink]="['/forum']">{{ 'Dashboard.seeAll' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-5">
            <div class="shadow-primary br-5 py-4">
                <div class="row px-3 px-lg-5">
                    <div class="col col-4"></div>
                    <div class="col-12 col-lg-4 text-start text-lg-center ps-lg-5">
                        <h3>{{ 'Dashboard.tasks' | translate }} ({{ tasks.length }})</h3>
                    </div>
                    <div class="col col-4 text-end mobile-d-none">
                        <button class="btn btn-sm btn-secondary" [routerLink]="['/task-list']">{{ 'Dashboard.seeAll' |
                            translate }}</button>
                    </div>
                </div>
                <div class="px-lg-5">
                    <hr>
                </div>
                <div class="container pe-5 mobile-d-none">
                    <div class="row text-center my-2">
                        <div class="col col-1"></div>
                        <div class="col">
                            <h4>{{ 'Dashboard.pastTasks' | translate }}</h4>
                        </div>
                        <div class="col">
                            <h4>{{ 'Dashboard.todayTasks' | translate }}</h4>
                        </div>
                        <div class="col">
                            <h4>{{ 'Dashboard.futureTasks' | translate }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-1 text-end eisenhower-priority">
                            <h4>{{ 'Priority.High' | translate }}</h4>
                        </div>
                        <div class="col eisenhower border-danger">
                            <!-- pilne zaległe -->
                            <div *ngFor="let task of highPastTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">
                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                        <div class="col eisenhower border-danger-light">
                            <!-- pilne dzisiaj -->
                            <div *ngFor="let task of highTodayTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">
                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                        <div class="col eisenhower border-warning-light">
                            <!-- pilne przyszłe -->
                            <div *ngFor="let task of highFutureTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">

                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-1 text-end eisenhower-priority">
                            <h4>{{ 'Priority.Medium' | translate }}</h4>
                        </div>
                        <div class="col eisenhower border-danger-light">
                            <!-- średnie zaległe -->
                            <div *ngFor="let task of mediumPastTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">
                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                        <div class="col eisenhower border-warning-light">
                            <!-- średnie dzisiaj -->
                            <div *ngFor="let task of mediumTodayTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">

                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                        <div class="col eisenhower border-success-light">
                            <!-- średnie przyszłe -->
                            <div *ngFor="let task of mediumFutureTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">

                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-1 text-end eisenhower-priority">
                            <h4>{{ 'Priority.Low' | translate }}</h4>
                        </div>
                        <div class="col eisenhower border-warning-light">
                            <!-- niski zaległe -->
                            <div *ngFor="let task of lowPastTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">

                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                        <div class="col eisenhower border-success-light">
                            <!-- niski dzisiaj -->
                            <div *ngFor="let task of lowTodayTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">

                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                        <div class="col eisenhower border-success-dark">
                            <!-- niski przyszłe -->
                            <div *ngFor="let task of lowFutureTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">
                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-1 text-end eisenhower-priority">
                            <h4>{{ 'Priority.No' | translate }}</h4>
                        </div>
                        <div class="col eisenhower border-primary">
                            <!-- brak zaległe -->
                            <div *ngFor="let task of noPastTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">
                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                        <div class="col eisenhower border-secondary">
                            <!-- brak dzisiaj -->
                            <div *ngFor="let task of noTodayTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">
                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                        <div class="col eisenhower border-light">
                            <!-- brak przyszłe -->
                            <div *ngFor="let task of noFutureTasks | slice:0:5">
                                <span class="cursor-pointer" [routerLink]="['/task/edit', task.id]">
                                    <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                                    {{ task.title | slice: 0:100 }}
                                    <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-only ps-3">
                    <div *ngFor="let task of tasks | slice: 0:20">
                        <span [routerLink]="['/task-list', task.listOfTasksId]" class="cursor-pointer">
                            <i class="bi bi-circle" style="font-size: 0.4em; vertical-align: middle;"></i>
                            {{ task.title | slice: 0:100 }}
                            <span class="text-nowrap">({{ task.deadline | dateCustom: 'dayMonth' }})
                                <span class="" [ngClass]="{
                                        'text-success': taskPriorities[task.priority] == 'Low',
                                        'text-warning': taskPriorities[task.priority] == 'Medium',
                                        'text-danger': taskPriorities[task.priority] == 'High',
                                        'text-primary': taskPriorities[task.priority] == 'No'}">
                                    {{ 'Priority.' + taskPriorities[task.priority] | translate }}
                                </span>
                            </span>
                        </span>
                    </div>
                    <div *ngIf="tasks.length == 0" class="text-secondary">{{ 'Task.noTasksFound' | translate }}</div>
                    <div class="d-flex justify-content-end mt-3 pe-2 mobile-only">
                        <button class="btn btn-sm btn-secondary" [routerLink]="['/task-list']">{{ 'Dashboard.seeAll' |
                            translate
                            }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #notAuthorized>
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</ng-template>