<div class="container-fluid my-5">
    <div class="row mb-5">
        <h1 class="col-12 col-lg-9 text-center text-lg-start">{{'User.users' | translate }}</h1>
        <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-end">
            <button class="btn btn-md btn-primary" [routerLink]="['/settings/users/add']">
                <i class="bi bi-plus-lg me-1"></i>{{ 'Button.addUser' | translate }}
            </button>
        </div>
    </div>
    <span class="table-responsive">
        <table class="table text-nowrap text-left" *ngIf="users && users.length > 0">
            <thead>
                <tr>
                    <th>{{ 'User.name' | translate }}</th>
                    <th>{{ 'User.surname' | translate }}</th>
                    <th>{{ 'User.userName' | translate }}</th>
                    <th>{{ 'User.department' | translate }}</th>
                    <th>{{ 'User.roles' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let user of users">
                <tr>
                    <td>{{ user.name || '-' }}</td>
                    <td>{{ user.surname || '-' }}</td>
                    <td>{{ user.userName || '-' }}</td>
                    <td></td>
                    <!-- <td>{{ user.department || '-' }}</td> -->
                    <td>
                        <div *ngFor="let userRole of user.roles">{{ ('Role.' + userRole | translate) }}</div>
                        <div *ngIf="user.roles.length == 0">-</div>
                    </td>
                    <td class="text-end ">
                        <button title="{{ 'Button.editUser' | translate}}" class="btn btn-sm btn-secondary me-2"
                            [routerLink]="['/settings/users', 'edit', user.id]"><i
                                class="bi bi-pencil-fill"></i></button>
                        <button title="{{ 'Button.showUser' | translate}}" class="btn btn-sm btn-secondary me-2"
                            [routerLink]="['/settings/users', user.id]"><i class="bi bi-eye-fill"></i></button>
                        <button title="{{ 'Button.deleteUser' | translate}}" class="btn btn-sm btn-danger-light me-2"
                            [routerLink]="[]" (click)="deleteUser(user.id)"><i class="bi bi-trash3"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </span>
    <p *ngIf="!users || users.length <= 0">{{ 'User.noUsers' | translate }}</p>
</div>
<router-outlet></router-outlet>