<h1>Client data</h1>
<label>Name: {{clientDetails.name}}</label><br><br>
<label>Description: {{clientDetails.description}}</label><br><br>
<label>NIP: {{clientDetails.nip}}</label><br><br>
<label>Comments: {{clientDetails.comments}}</label><br><br>
<label>Address {{clientDetails.address}}</label><br><br>
<label>Contacts</label><br><br>
<div *ngFor="let contact of clientDetails.contacts">
    <label>First name: {{contact.firstname}}</label><br>
    <label>Surname: {{contact.surname}}</label><br>
    <label>Phone: {{contact.phone}}</label><br>
    <label>Email: {{contact.email}}</label><br><br>
</div>
