


<div class="row h-100 pe-5">
    <div class="align-self-center mb-5">
        <div class="col-12 col-lg-4 offset-lg-4 mb-4 form form-sm">
            <div class="text-center text-lg-end mb-4">
                <p class="d-inline text-center border rounded-circle p-2 cursor-pointer me-2" (click)="changeLanguage('en')">EN</p>
                <p class="d-inline text-center border rounded-circle p-2 cursor-pointer me-2" (click)="changeLanguage('pl')">PL</p>
            </div>
            <div class="mb-3 text-center">
                <h1>{{ 'Login.login' | translate }}</h1>
            </div>
            <form #form="ngForm" (ngSubmit)="onSubmit()">
                <div class="d-none mb-3 text-danger" id="login-error">
                    <p>{{ 'Login.wrongLoginOrPassword' | translate }}</p>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="{{ 'Login.email' | translate }}" id="email"
                        name="email" [(ngModel)]="login.email">
                </div>
                <div class="mb-4">
                    <input type="password" class="form-control" placeholder="{{ 'Login.password' | translate }}"
                        id="password" name="password" [(ngModel)]="login.password">
                </div>
                <div class="text-center">
                    <button class=" btn btn-md btn-primary" type="submit">
                        {{ 'Login.signIn' | translate }}
                        <span class="d-none ms-2 spinner-border spinner-border-sm" id="login-spinner"
                            role="status"></span>
                    </button>
                </div>               
            </form>
        </div>
        <div class="text-center">
            <p>{{ 'Login.noAccount' | translate }} <a [routerLink]="['/register']">{{ 'Login.registerNow' | translate }}</a></p>
        </div>
    </div>
</div>