
:root {
    --primary: rgb(62, 100, 163);
    --primary-rgb: 62, 100, 163;
    --secondary: #a4d2ff;
    --dark-gray: #444447;
    --gray: #c0c0c0;
    --light-gray: #E6E6E6;
    --success-primary: #33A68F;
    --success-primary-dark: #94c707b8;
    --success-primary-light: #b0bd0399;
    --success-secondary: #f7ffea;
    --warning-primary: #eeaa17;
    --warning-primary-light: #ffae00a8;
    --warning-secondary: #fff5c7;
    --danger-primary: #cb5157;
    --danger-primary-light: #f47200a0;
    --danger-secondary: #ffeaeb;
    --primary-box-shadow: 0px 0px 10px 1px rgba(var(--primary-rgb), 0.2);
    --primary-box-shadow-inset: inset 0px 0px 10px 1px rgba(var(--primary-rgb), 0.2);
    --secondary-box-shadow: 0px 0px 10px 1px var(--secondary);
    --gray-box-shadow: 0px 0px 10px -2px var(--gray);
    --note-border: 1px solid var(--light-gray);
    --background-color: #ffffff;
}

body {
    font-weight: 400 !important;
    letter-spacing: 0rem;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--secondary);
}

h1 {
    text-transform: lowercase;
    font-size: 1.6rem;
    font-weight: 400;
}

h2 {
    font-size: 1.4rem;
    font-weight: 400;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

h4 {
    font-size: 1.1rem;
    font-weight: 400;
}
 
h1::first-letter {
    text-transform: capitalize !important;
}

i.bi {
    font-size: 1rem;
    margin: 0 2.55px;
}

table {
    border: 0px !important;
}

.table td,
.table thead {
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
}

thead {
    /* text-transform: lowercase; */
    /* background-color: var(--secondary); */
    font-weight: 400;
}

.nav-link > .bi {
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: var(--dark-gray);
    -webkit-text-fill-color: white;
    /* text-shadow: 0 0 5px var(--secondary); */
}

.bg-success {
    background-color: var(--success-primary) !important;
}

.bg-success-dark {
    background-color: var(--success-primary-dark) !important;
}

.bg-success-light {
    background-color: var(--success-primary-light) !important;
}

.bg-warning {
    background-color: var(--warning-primary) !important;
}

.bg-warning-light {
    background-color: var(--warning-primary-light) !important;
}

.bg-danger {
    background-color: var(--danger-primary) !important;
}

.bg-danger-light {
    background-color: var(--danger-primary-light) !important;
}

.bg-danger {
    background-color: var(--danger-primary) !important;
}

.bg-darkgray {
    background-color: var(--dark-gray) !important;
}

.bg-primary {
    background-color: var(--gray) !important;
}

.bg-secondary {
    background-color: var(--light-gray) !important;
}

.bg-background {
    background-color: var(--background-color) !important;
}

.border-success {
    border-color: var(--success-primary) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-success-dark {
    border-color: var(--success-primary-dark) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-success-light {
    border-color: var(--success-primary-light) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-warning {
    border-color: var(--warning-primary) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-warning-light {
    border-color: var(--warning-primary-light) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-danger {
    border-color: var(--danger-primary) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-danger-light {
    border-color: var(--danger-primary-light) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-danger {
    border-color: var(--danger-primary) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-darkgray {
    border-color: var(--dark-gray) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-primary {
    border-color: var(--gray) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-secondary {
    border-color: var(--light-gray) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-background {
    border-color: var(--border-color) !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.border-light {
    border-color: #f8f9fa !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.text-success {
    color: var(--success-primary) !important;
}

.text-warning {
    color: var(--warning-primary) !important;
}


.text-danger {
    color: var(--danger-primary) !important;
}

.text-light-gray {
    color: var(--light-gray) !important;
}

.text-gray {
    color: var(--gray) !important;
}

.italic {
    font-style: italic;
}

.br-5 {
    border-radius: 5px;
}

.btn {
    border-radius: 14px;
    border: 0 !important;
    padding: 0.3em 1em 0.3em 1em;
    /* text-transform: uppercase; */
    box-shadow: 0 0 5px 1px var(--light-gray);
}

.btn:focus{
    outline: none;
}

.btn-primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-primary:hover, .btn-primary:focus {
    color: var(--primary);  
    background-color: white;
    border: 1px solid var(--primary);
}

.btn-secondary {
    background-color: white;
    color: var(--primary);
    border: 1px solid var(--secondary);
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: var(--secondary);
    color: white;  
    border: 1px solid var(--secondary);
}

.btn-light {
    color: var(--dark-gray);
    background-color: white;
    border: 1px solid var(--dark-gray);
}

.btn-light:hover, .btn-light:focus {
    background-color: var(--dark-gray);
    color: white;  
    border: 1px solid var(--dark-gray);
}

.btn-dark {
    background-color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
}

.btn-dark:hover, .btn-dark:focus {
    background-color: white;
    color: var(--dark-gray);  
    border: 1px solid var(--dark-gray);
}

.btn-success {
    background-color: var(--success-primary);
    border: 1px solid var(--success-primary);
}

.btn-success:hover, .btn-success:focus {
    background-color: white;
    color: var(--success-primary);
    border: 1px solid var(--success-primary);
}

.btn-success-light {
    color: var(--success-primary);
    border: 1px solid var(--success-primary);
}

.btn-success-light:hover, .btn-success:focus {
    background-color: var(--success-primary);
    color: white;
    border: 1px solid var(--success-primary);
}

.btn-danger {
    background-color: var(--danger-primary);
    border: 1px solid var(--danger-primary);
}

.btn-danger:hover, .btn-danger:focus {
    background-color: white;
    color: var(--danger-primary);
    border: 1px solid var(--danger-primary);
}

.btn-danger-light {
    color: var(--danger-primary);
    border: 1px solid var(--danger-primary);
}

.btn-danger-light:hover, .btn-danger:focus {
    background-color: var(--danger-primary);
    color: white;
    border: 1px solid var(--danger-primary);
}

.form {
    box-shadow: var(--primary-box-shadow);
    border-radius: 5px;
    padding: 2rem;
    bottom: 50px !important;
}

.form-control:focus,
.form-select:focus {
     box-shadow: none;
}
.no-shadow{
    box-shadow: none;
}

.card-columns {
    columns: 3;
}

.card {
    -webkit-column-break-inside: avoid;
    border: 0;
    border-radius: 5px;
    box-shadow: var(--primary-box-shadow);
}

.eisenhower{
    line-height: 1.1rem;
    height: calc(5 * 1.1rem + 1rem);
    border-radius: 5px;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
}

.eisenhower-priority h4{
    transform: translate(1rem, 4rem) rotate(-90deg);

}

.note-priority {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 31px;
    height: 31px;
    z-index: 2;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    border: var(--note-border);
    border-top-right-radius: 5px;
}
 
.tile {
    height: 10rem;
    width: 10rem;
    line-height: 2rem;
    border-radius: 5px;
    box-shadow: var(--primary-box-shadow);
    text-align: center;
    padding-top: calc((10rem - 1rem - 4rem) / 2);
    display: inline-block;
    cursor: pointer;
}

.tile > i {
    font-size: 4rem;
    color: var(--primary);
}

.shadow-primary {
    box-shadow: var(--primary-box-shadow);
}

.shadow-secondary {
    box-shadow: var(--secondary-box-shadow);
}

.text-justify {
    text-align: justify;
}

/* tables */
table { 
    box-shadow: var(--primary-box-shadow);
    padding: 3px;
    border-radius: 5px;
    /* table-layout: fixed; */
}

td > table {
    box-shadow: 
    inset 0px 10px 10px -10px rgba(var(--primary-rgb), 0.2),
    inset 0px -10px 10px -10px rgba(var(--primary-rgb), 0.2);    border-radius: 0;
}

td {
    border: 0;
    /* border-top: 1px solid black; */
        padding: 0 8px;
        min-width: 15vw;

}

.hidden {
    visibility: hidden;
}

/* breakpoint xlg */
@media only screen and (max-width: 1200px) {
    .card-columns{ 
        columns: 2;
    }
}

/* breakpoint lg */
@media only screen and (max-width:992px) {
    .mobile {
        display: none;
    }
}

/* breakpoint sm */
@media only screen and (max-width: 768px) {
    .card-columns{ 
        columns: 1;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.file-input {display: none;}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
