:root {
    --primary: #385485;
    --secondary: #B3E3F2;
    --dark-gray: #3D3D3D;
    --gray: #BFBFBF;
    --light-gray: #E6E6E6;
    --success-primary: #33A68F;
    --success-secondary: #f7ffea;
    --warning-primary: #eeaa17;
    --warning-secondary: #fff5c7;
    --danger-primary: #BD3C43;
    --danger-secondary: #ffeaeb;
    --primary-box-shadow: 0px 0px 20px -15px var(--primary);
    --secondary-box-shadow: 0px 0px 10px 0px var(--secondary);
}

body {
    text-transform: capitalize;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0rem;
    font-size: 1.5rem;
    font-weight: 400;
    /* border-left: 2px solid var(--primary); */
    /* -webkit-text-stroke-color: var(--secondary);
    -webkit-text-fill-color: var(--primary);
    -webkit-text-stroke-width: 2px; */
}

table {
    border: 0px !important;
}

thead {
    /* text-transform: lowercase; */
    /* background-color: var(--secondary); */
    font-weight: 400;
}
.bi {
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: var(--primary);
    -webkit-text-fill-color: white;
    /* text-shadow: 0 0 5px var(--secondary); */
}

.bg-success {
    background-color: var(--success-primary) !important;
}

.bg-warning {
    background-color: var(--warning-primary) !important;
}

.bg-danger {
    background-color: var(--danger-primary) !important;
}

.btn {
    border-radius: 50px;
    padding: 0 2em;
    text-transform: lowercase;
}

.btn-primary {
    background-color: transparent;
    color: var(--primary);
    border: 0;
    outline: 2px solid var(--secondary);
    /* outline-offset: 2px; */
    /* box-shadow: var(--secondary-box-shadow);   */
}

.shadow-primary {
    box-shadow: var(--primary-box-shadow);
}