<div class="container-fluid my-5">
    <div class="row mb-3">
        <div class="col-12 col-lg-6 d-flex justify-content-lg-start justify-content-center">
            <h1 class="float-start mobile">
                <a [routerLink]="['/task-list']">{{ 'Task.taskLists' | translate }}</a>
                <i class="bi bi-arrow-right mx-2 mt-2"></i>
            </h1>
            <h1 class="float-start">{{ taskListDetails.name }}</h1>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-lg-end justify-content-center mt-3 mt-lg-0">
            <button class="btn btn-md btn-primary me-2" [routerLink]="['/task-list', 'edit', taskListDetails.id]">
                <i class="bi bi-pencil me-2"></i>{{ 'Button.editTaskList' | translate }}
            </button>
            <button class="btn btn-md btn-primary" [routerLink]="['/task', 'add', taskListDetails.id]">
                <i class="bi bi-plus-lg me-2"></i>{{ 'Button.addTask' | translate }}
            </button>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <h3>{{ 'TaskList.project' | translate }}: {{ taskListDetails.project || '-' }}</h3>
        </div>
    </div>
    <div>
        <div class="card-columns">
            <div *ngFor="let task of taskListDetails.tasks">
                complete: {{task.isComplete}}

                <div class="card card-corner p-1 mb-3" *ngIf="(task.isComplete == false); else done">
                    <div class="card-body">
                        <!-- <div class="card-subtitle d-flex justify-content-around text-center mb-2">
                            <div>
                                {{ 'Task.createDate' | translate}} <br>
                                {{task.createDate | dateCustom:'fullShort'}}
                            </div>
                            <div>
                                {{ 'Task.deadline' | translate }} <br>
                                {{task.deadline | dateCustom:'fullShort'}}
                            </div>                      
                        </div> -->
                        <div class="card-subtitle text-center mb-2">
                            <div class="text-secondary">
                                {{task.createDate | dateCustom:'short'}} - {{task.deadline | dateCustom:'short'}}
                            </div>                      
                        </div>
                        <div class="note-priority" [ngClass]="{
                            'bg-success': taskPriorities[task.priority] == 'Low',
                            'bg-warning': taskPriorities[task.priority] == 'Medium',
                            'bg-danger': taskPriorities[task.priority] == 'High',
                            'bg-secondary': taskPriorities[task.priority] == 'No'}">
                        </div>

                        <h3 class="card-title text-center mb-2">{{task.title}}</h3>
                        <div class="card-text text-justify mb-2">{{task.description}}</div>

                        <div class="d-flex justify-content-end mt-3">
                            <a class="btn btn-sm btn-light me-2" [routerLink]="['/task', 'edit', task.id]">
                                <i class="bi bi-pencil-square"></i>                            
                            </a>
                            <a class="btn btn-sm btn-success-light" (click)="completeTask(task.id)">
                                <i class="bi bi-check2-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <ng-template #done>

                    <div class="card text-secondary p-1 mb-3">
                        <div class="card-body">
                            <div class="card-subtitle text-center mb-2">
                                <div class="text-secondary">
                                    {{task.createDate | dateCustom:'short'}} - {{task.deadline | dateCustom:'short'}}
                                </div>                      
                            </div>
                            <div class="card-subtitle text-center">{{task.deadline | dateCustom:'fullShort'}}</div>
                            <div class="note-corner bg-secondary"></div>

                            <h3 class="card-title text-center text-decoration-line-through">{{task.title}}</h3>

                            <div class="d-flex justify-content-end mt-3">
                                <a class="card-link btn btn-sm btn-light" (click)="restoreTask(task.id)">
                                    {{ 'Button.restore' | translate }}
                                </a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <p *ngIf="!tasks || tasks.length <= 0">{{ 'Task.noTasks' | translate }}</p>
    </div>
    <router-outlet></router-outlet>
</div>

