<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills m-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active mb-2" href="tasks">
            <i class="bi bi-stickies-fill" title="{{ 'Menu.tasks' | translate }}"></i>              
        </a>
        <a class="nav-link" href="calandar">
            <i class="bi bi-calendar-week-fill" title="{{ 'Menu.calendar' | translate }}"></i>            
        </a>
        <a class="nav-link" href="clients">
            <i class="bi bi-people-fill clients" title="{{ 'Menu.clients' | translate }}"></i>
        </a>
        <a class="nav-link" href="">
            <i class="bi bi-door-open-fill" title="{{ 'Menu.leaves' | translate }}"></i>
        </a>
        <a class="nav-link" href="">
            <i class="bi bi-megaphone-fill" title="{{ 'Menu.announcements' | translate }}"></i>
        </a>
        <a class="nav-link" href="">
            <i class="bi bi-folder-fill" title="{{ 'Menu.documents' | translate }}"></i>
        </a>
        <a class="nav-link" href="">
            <i class="bi bi-chat-text-fill" title="{{ 'Menu.chat' | translate }}"></i>
        </a>
        <a class="nav-link" href="">
            <i class="bi bi-serttings-fill" title="{{ 'Menu.settings' | translate }}"></i>
        </a>
    </div>
    <div class="tab-content w-100 h-100" style="background-color: lightblue;">
        
            <router-outlet></router-outlet>
        
    </div>
</div>