<div>
    {{selectedDirectory.name}}
    <div *ngIf="selectedDirectory.id!=fileStructure.id">
        <button (click)="goUp()">Go up</button>
    </div>
    <div style="margin-left: 30px;">
        <div *ngFor="let file of selectedDirectory.files; index as i">
            <div>
                {{file.name}}
                <button (click)="editFileName(i)">Change Name</button>
                <button (click)="deleteFile(file.id)">Delete</button>
            </div>
            <div *ngIf="editFile==true && i==editingFile">
                <form [formGroup]="editFileForm" (ngSubmit)="changeFileName(file.id)">
                    <input type="text" name="newFileName" formControlName="newFileName">
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
        <div *ngFor="let directory of selectedDirectory.directories; index as i">
            <div>
                {{directory.name}}
                <button (click)="editDirectoryName(i)">Change name</button>
                <button (click)="deleteDirectory(directory.id)">Delete</button>
                <button (click)="goToDirectory(directory)">Go to directory</button>
            </div>
            <div *ngIf="editDirectory==true&&editingDirectory==i">
                <form [formGroup]="editDirectoryForm" (ngSubmit)="changeDirectoryName(directory.id)">
                    <input type="text" name="newDirectoryName" formControlName="newDirectoryName">
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
        <div *ngIf="selectedDirectory.id != emptyGuid">
            <button (click)="addFileToDirectory(selectedDirectory.id)">Add file</button>
            <form [formGroup]="directoryForm" (ngSubmit)="addDirectoryToDirectory()">
                <input type="text" name="directoryName" id="directoryName" formControlName="directoryName">
                <button type="submit">Add directory</button>
            </form>
        </div>
    </div>
</div>
<div *ngIf="addFile">
    <form [formGroup]="documentForm" (ngSubmit)="onSubmit()">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" formControlName="name">
        <label for="file">File</label>
        <input type="file" name="file" id="file" formControlName="file" class="form-control"
            (change)="onFileChange($event)">
        <button type="submit"> Submit</button>
    </form>
</div>