<div class="container-fluid my-5">
    <div *ngIf="formMode == FormMode.Edit; else header" class="row mb-5 text-center">
        <h1 class="mb-3 col-12">{{ 'User.editUser' | translate }}</h1>
    </div>
    <ng-template #header>
        <div class="row text-center">
            <h1 class="mb-3 col-12">{{ 'User.addUser' | translate }}</h1>
        </div>
    </ng-template>

    <div class="col-12 col-lg-8 offset-lg-2 form form-sm">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="mb-3 col-12 col-lg-6">
                    <label class="form-label" for="userUserName">{{ 'User.userName' | translate }} *</label>
                    <input class="form-control" type="text" id="userUserName" formControlName="userUserName">
                    <p class="text-danger mt-2 mb-0 d-none" id="username-taken">{{ 'Login.usernameTaken' | translate }}</p>
                </div>
                <div class="mb-3 col-12 col-lg-6">
                    <label *ngIf="!userDetails.passwordHash" class="form-label" for="userPassword">{{ 'User.setPassword' | translate }} *</label>
                    <label *ngIf="userDetails.passwordHash" class="form-label" for="userPassword">{{ 'User.changePassword' | translate }}</label>
                    <div class="input-group">
                        <input class="form-control" [type]="isPasswordVisible ? 'text' : 'password'" id="userPassword"
                            formControlName="userPassword">
                        <div class="input-group-append cursor-pointer" (click)="togglePasswordVisibility()">
                            <span class="input-group-text" id="password-visibility">
                                <i class="bi" [ngClass]="{ 'bi-eye-slash': isPasswordVisible, 'bi-eye': !isPasswordVisible}"></i>
                            </span>
                        </div>
                    </div>
                    <p class="text-warning mt-2 mb-0">({{ 'Login.passwordPlaceholder' | translate }})</p>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-lg-6">
                    <label class="form-label" for="name">{{ 'User.name' | translate }}</label>
                    <input class="form-control" type="text" id="name" formControlName="name">
                </div>
                <div class="mb-3 col-12 col-lg-6">
                    <label class="form-label" for="surname">{{ 'User.surname' | translate }} *</label>
                    <input class="form-control" type="text" id="surname" formControlName="surname">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-lg-6">
                    <label class="form-label" for="phone">{{ 'User.phone' | translate }}</label>
                    <input class="form-control" type="text" id="phone" formControlName="phone" maxlength="50">
                </div>
                <div class="mb-3 col-12 col-lg-6">
                    <label class="form-label" for="pesel">{{ 'User.pesel' | translate }}</label>
                    <input class="form-control" type="text" id="pesel" formControlName="pesel" maxlength="30">
                </div>
            </div>

            <h3 class="form-label">{{ 'User.address' | translate }}</h3>
            <div class="row">
                <div class="mb-3 col-12">
                    <label class="form-label" for="addressHome">{{ 'User.homeAddress' | translate }}</label>
                    <input class="form-control" type="text" id="addressHome" formControlName="addressHome">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-12">
                    <label class="form-label" for="addressPost">{{ 'User.postAddress' | translate }}</label>
                    <input class="form-control" type="text" id="addressPost" formControlName="addressPost">
                </div>
            </div>

            <div *ngIf="canModify()">
            <h3 class="form-label" *ngIf="formMode==FormMode.Edit">{{'User.roles' | translate}}</h3>
            <ng-container formArrayName="roles" *ngIf="formMode==FormMode.Edit">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="p-2">{{ 'User.role' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let role of userRoles; let i = index">
                            <ng-container [formGroupName]="i">
                                <td class="pt-3">{{ ('Role.' + role) | translate }}</td>
                                <td class="text-end">
                                    <button title="{{ 'Button.deleteRole' | translate }}" class="btn btn-sm btn-danger-light my-auto" (click)="deleteRole(i)"
                                        *ngIf="role.toString()!='EMPLOYEE'">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </ng-container>

            <div class="row" *ngIf="allRoles.length > 0">
                <div class="col-12 col-lg-6">
                    <select formControlName="newRole" id="newRole" class="form-select" >
                        <option *ngFor="let role of allRoles" [value]="role">
                            {{ ('Role.' + role.toString()) | translate }}
                        </option>
                    </select>
                </div>
                <div class="col-12 col-lg-6 text-center text-lg-start pt-1 mt-2 mt-lg-0">
                    <button class="btn btn-sm btn-success-light" (click)="addRole()">{{ 'Button.assignRole' | translate }}</button>
                </div>
            </div>       
            </div>
            <div class="row">
                <div class="col text-center text-sm-end mt-3">
                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid"
                        *ngIf="formMode == FormMode.Edit">{{ 'Button.save' | translate }}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid"
                        *ngIf="formMode == FormMode.Add">{{ 'Button.addUser' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>