<div class="container-float my-5">
    <h1 class="mb-3">
        Add New Task
    </h1>
    <div class="row">
         <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addTask()">
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name ="title" [(ngModel)]="addTaskRequest.title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="addTaskRequest.description">
                </div>
                <div class="mb-3">
                    <label for="priority" class="form-label">Priority</label><br>
                    <select id="priority" name="priority" class="form-control" [(ngModel)]="addTaskRequest.priority">
                        <option *ngFor="let priority of priorityTypes" [ngValue]="priority"  >
                            <!-- {{Priority2LabelMapping[priority]}} -->
                            {{priority}}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="deadLine" class="form-label">Deadline</label>
                    <input type="date" class="form-control" id="deadLine" name="deadLine" [(ngModel)]="addTaskRequest.deadLine">
                  </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
         </div>
    </div>    
</div>
