<div class="d-flex align-items-start">
    <div  class="nav flex-column nav-pills m-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link mb-2" routerLink="dashboard" routerLinkActive="active">
            <i class="bi bi-person-fill" title="{{ 'Menu.dashboard' | translate }}"></i>              
        </a>
        <a class="nav-link mb-2" routerLink="note" routerLinkActive="active">
            <i class="bi bi-stickies-fill" title="{{ 'Menu.note' | translate }}"></i>              
        </a>
        <a class="nav-link mb-2" routerLink="task-list" routerLinkActive="active">
            <i class="bi bi-list-ul" title="{{ 'Menu.tasks' | translate }}"></i>              
        </a>
        <a class="nav-link" routerLink="clients" routerLinkActive="active">
            <i class="bi bi-people-fill clients" title="{{ 'Menu.clients' | translate }}"></i>
        </a>
        <a class="nav-link" routerLink="documents" routerLinkActive="active">
            <i class="bi bi-folder-fill" title="{{ 'Menu.documents' | translate }}"></i>
        </a>
        <a class="nav-link" routerLink="forum" routerLinkActive="active">
            <i class="bi bi-chat-text-fill" title="{{ 'Menu.chat' | translate }}"></i>
        </a>
        <a class="nav-link" routerLink="settings" routerLinkActive="active">
            <i class="bi bi-gear-fill" title="{{ 'Menu.settings' | translate }}"></i>
        </a>
        <a class="nav-link" (click)="logoutClicked()" routerLinkActive="active">
            <i class="bi bi-power" title="{{ 'Menu.logout' | translate }}"></i>
        </a>
    </div>
</div>
