<!-- <div>
    <div *ngIf="editMode; else header" class="row mb-5 text-center">
        <h1 class="col-12">{{ 'Note.editNote' | translate }}</h1>
    </div>
    <ng-template #header>
        <div class="row mb-3 text-center">
            <h1 class="col-12">{{ 'Note.addNote' | translate }}</h1>
        </div>
    </ng-template>

    <div class="form">
        <form #form="ngForm" (ngSubmit)="submit()">
            <div class="row mb-3">
                <div class="col">
                    <label for="title" class="label-form">{{ 'Note.title' | translate }}</label>
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="noteDetails.title">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="noteStatus" class="form-label">{{ 'Note.status' | translate }}</label><br>
                    <select id="noteStatus" name="noteStatus" class="form-select" [(ngModel)]="noteStatus"
                        (ngModelChange)="onChange($event)">
                        <option *ngFor="let noteStatus of noteStatuses">
                            {{noteStatus}}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label for="selectorDate" class="form-label">Date</label>
                    <input type="date" class="form-control" id="selectorDate" name="selectorDate" [(ngModel)]="selectorDate" (ngModelChange)="updateDate($event)">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" *ngIf="editMode">Save</button>
            <button type="submit" class="btn btn-primary" *ngIf="!editMode">Add Note</button>
        </form>
    </div>
</div> -->
