<div class="container-fluid my-5">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <label for="oldPassword" class="form-label"> {{'ChangePassword.oldPassword'}}</label>
            <input type="text" name="oldPassword" id="oldPassword" formControlName="oldPassword">
        </div>
        <div class="row mb-3">
            <label for="newPassword" class="form-label"> {{'ChangePassword.newPassword'}}</label>
            <input type="text" name="newPassword" id="newPassword" formControlName="newPassword">
        </div>
        <div class="row mb-3">
            <label for="repeatNewPassword" class="form-label"> {{'ChangePassword.repeatNewPassword'}}</label>
            <input type="text" name="repeatNewPassword" id="repeatNewPassword" formControlName="repeatNewPassword">
        </div>
        <div class="col-12 text-center col-lg-3 offset-lg-9 text-sm-end">
            <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">{{
                'Button.changePassword' | translate}}</button>
        </div>
</form>
</div>