<div class="container-fluid my-5">
    <div class="row mb-5 text-center">
        <h1 class="col-12">{{ 'User.changePassword' | translate }}</h1>
    </div>

    <div class="col-12 col-lg-8 offset-lg-2 form form-sm">

        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col-12">
                    <label for="oldPassword" class="form-label"> {{'ChangePassword.oldPassword' | translate}}</label>
                    <div class="input-group">

                    <input class="form-control" [type]="isPasswordVisible[0] ? 'text' : 'password'" name="oldPassword"
                        id="oldPassword" formControlName="oldPassword">
                        <div class="input-group-append cursor-pointer" (click)="togglePasswordVisibility('old')">
                            <span class="input-group-text" id="password-visibility">
                                <i class="bi"
                                    [ngClass]="{ 'bi-eye-slash': isPasswordVisible[0], 'bi-eye': !isPasswordVisible[0]}"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label for="newPassword" class="form-label"> {{'ChangePassword.newPassword' | translate}}</label>
                    <div class="input-group">

                    <input class="form-control" [type]="isPasswordVisible[1] ? 'text' : 'password'" name="newPassword"
                        id="newPassword" formControlName="newPassword">
                        <div class="input-group-append cursor-pointer"
                            (click)="togglePasswordVisibility('new')">
                            <span class="input-group-text" id="password-visibility">
                                <i class="bi"
                                    [ngClass]="{ 'bi-eye-slash': isPasswordVisible[1], 'bi-eye': !isPasswordVisible[1]}"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label for="repeatNewPassword" class="form-label"> {{'ChangePassword.repeatNewPassword' |
                        translate}}</label>
                        <div class="input-group">

                    <input class="form-control" [type]="isPasswordVisible[2] ? 'text' : 'password'"
                        name="repeatNewPassword" id="repeatNewPassword" formControlName="repeatNewPassword">
                        <div class="input-group-append cursor-pointer" (click)="togglePasswordVisibility('newRepeat')">
                            <span class="input-group-text" id="password-visibility">
                                <i class="bi"
                                    [ngClass]="{ 'bi-eye-slash': isPasswordVisible[2], 'bi-eye': !isPasswordVisible[2]}"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center col-lg-3 offset-lg-9 text-sm-end">
                    <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">{{
                        'Button.changePassword' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>